
.round_button{background:#fafafa;width:210px;height:50px;border-radius:50px;box-shadow:0 3px 0 rgba(0,0,0,.15);color:#fff;padding:4px}
.round_button em{width:100%;line-height:42px;border-radius:42px;background:#14b4e8;background:-moz-linear-gradient(top,#14b4e8 0,#0481d3 100%);background:-webkit-linear-gradient(top,#14b4e8 0,#0481d3 100%);background:linear-gradient(to bottom,#14b4e8 0,#0481d3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14b4e8',endColorstr='#0481d3',GradientType=0);border-radius:42px;position:relative;box-shadow:0 2px 4px rgba(0,112,181,.5),inset 0 -2px 3px #0070b5;display:inline-block;font-style:normal}
.round_button em::before{content:'';background:url(../img/heighlight-blue.png) no-repeat;width:40px;height:6px;opacity:.5;position:absolute;top:6px;left:13px}
.banner::before{left:0;right:0;bottom:0;content:''}
.round_button:hover{box-shadow:0 0 15px #2ccbff}
.round_button.green em{background:#79d636;background:-moz-linear-gradient(top,#79d636 0,#3eb510 100%);background:-webkit-linear-gradient(top,#79d636 0,#3eb510 100%);background:linear-gradient(to bottom,#79d636 0,#3eb510 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79d636',endColorstr='#3eb510',GradientType=0);box-shadow:0 2px 4px rgba(0,151,46,.5),inset 0 -2px 3px #00972e}
.round_button.green em::before{background:url(../img/heighlight-green.png) no-repeat}
.round_button.green:hover{box-shadow:0 0 15px #94ff47}
.login_but{width:205px;line-height:50px;font-size:18px;background:#b07ce5;background:-moz-linear-gradient(top,#b07ce5 0,#481fbd 100%);background:-webkit-linear-gradient(top,#b07ce5 0,#481fbd 100%);background:linear-gradient(to bottom,#b07ce5 0,#481fbd 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b07ce5',endColorstr='#481fbd',GradientType=0);border-radius:15px;position:relative;box-shadow:0 2px 4px rgba(82,0,145,.5),inset 0 0 3px #520091;margin-left:40px;font-weight:300}
#inner{padding:80px 0;background-position:top right;background-repeat:no-repeat;min-height:680px}
.free_test{background-image:url(../img/free-test-bg.png)}
.comman_hddding{font-size:40px;color:#131752;position:relative;padding-bottom:15px;text-transform:capitalize;font-weight:500;margin-bottom:35px}
.comman_hddding:after{content:'';background:#65d32e;opacity:.5;width:180px;height:3px;position:absolute;left:0;bottom:0;margin:auto}
.inner_hedding_text p{color:#bbbec0;font-size:20px}
.inner_hedding_text .login_sample a{background:#32e14a;border-radius:40px;line-height:45px;font-size:16px;text-transform:uppercase;margin-right:10px;border:0;color:#fff;display:inline-block;text-align:center;padding:0 20px;font-weight:500;margin-top:20px}
.inner_hedding_text .login_sample a:last-child{background:#089ade}
.login_form_problem{width:500px;margin:100px 0 0}
.login_form_problem .form-group input{border:2px solid rgba(162,168,172,0.45);border-radius:40px;font-size:14px;color:#a2a8ac;height:50px;font-weight:300}
.form-group .form-control:focus{color:#495057;border-color:#32e14a;box-shadow:none}
.login_value .login_button{background:#32e14a;border-radius:40px;line-height:50px;font-size:16px;text-transform:uppercase;border:0;color:#fff;display:inline-block;text-align:center;padding:0 30px;font-weight:500}
.login_value a{display:block;margin-top:20px;color:#0056b3;text-decoration:underline;font-size:16px}
.inner_hedding_text h3{font-size:28px;color:#131752;position:relative;padding-bottom:25px;text-transform:capitalize;font-weight:600;margin-bottom:15px}
.content_page{padding:80px 0;display:inline-block;width:100%}
.content_page p{line-height:30px}
.content_page ul li{width:100%;padding:5px 0;position:relative;padding-left:15px}
.content_page .term_condition ul li:before{content:'\f0da';font-family:FontAwesome;position:absolute;top:8px;left:0;line-height:19px;color:#65d32e}
.content_page ul{padding:10px 0 0}
.content_page h4{font-size:24px;text-transform:capitalize;color:#6f7274;font-weight:500;margin-top:30px}
.content_page .privacy_policy ul li{padding-left:0}
.content_page .privacy_policy a{color:#65d32e;font-weight:500}
.blog-section{padding:80px 0 40px}
.blog_links{text-align:center;display:block}
.blog_links ul li{display:inline-block;padding:0 15px;position:relative}
.blog_links ul li:after{position:absolute;content:"";height:18px;background:#000;width:2px;right:-2px;top:11px}
.blog_links ul li:first-child{padding-left:0}
.blog_links ul li:last-child{padding-right:0}
.blog_links ul li:last-child:after{background:0}
.blog_links ul li a{font-size:18px;color:#000;text-transform:capitalize;padding:0 15px;border-radius:20px;border:1px solid #fff;line-height:40px;display:inline-block}
.blog_links ul li a:hover{color:#239633;border:1px solid #239633}
.teacher-teach-hedding h2:after{content:'';background:#65d32e;width:180px;height:3px;position:absolute;left:0;right:0;bottom:0;margin:auto}
.teacher-teach-hedding h2{font-size:40px;color:#131752;position:relative;padding-bottom:25px;text-transform:uppercase;font-weight:500;margin-bottom:15px}
.teacher-teach-hedding{width:100%;text-align:center;margin:80px 0 60px}
.teacher-teach-hedding p{font-size:20px;color:#bbbec0;line-height:50px;margin:0;color:#9495ae}
.blog-section p{font-size:16px;color:#bbbec0;line-height:35px;clear:both;padding-top:20px;margin:0}
.blog_read_more{font-size:16px;color:#37dd4e;font-weight:600;display:inline-block;float:right;margin-top:25px}
.teach_shaddow .left_name{float:left}
.teach_shaddow .right_date{float:right}
.teach_shaddow h4 a{text-align:left;margin:20px 0 30px;font-size:18px;font-weight:500;color:#131752;display:block;border-top:1px solid #f1f1f1;padding-top:20px}
.teach_shaddow h4 a:hover{color:#37dd4e}
.teacher_content{display:inline-block;padding:20px}
.teach_shaddow{box-shadow:4px 0 10px rgba(0,0,0,0.10);border-radius:20px;height:100%;border:1px solid #f1f1f1;overflow:hidden}
.teach_shaddow .teacher_images{text-align:center;height:auto;margin-top:0}
ul.blog-history{padding:0;margin:auto;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px}
ul.blog-history li{margin:0 0 40px;padding:0 15px;list-style:none;float:left;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
.blog_main ul.blog-history li .teacher_images{margin-top:15px}
.side_bar ul.blog-history li{margin:0 0 40px;padding:0 15px;list-style:none;float:left;-ms-flex:100%;flex:100%;max-width:100%}
.blog_main ul.blog-history li:first-child{flex:0 0 66.666666%;max-width:66.666666%}
.blog_main ul.blog-history li:first-child .teacher_images{float:left;margin:0;height:auto;border:0;width:408px;border:0;padding:0}
.blog_main ul.blog-history li:first-child .teacher_content{display:inline-block;padding:20px 40px;max-width:560px}
.blog_main ul.blog-history li:first-child .teacher_content h4 a{border:0;padding-top:0;margin-top:0}
.blog_main ul.blog-history li:first-child .teacher_images img{-o-object-fit:contain;object-fit:cover;-o-object-position:center;object-position:center;height:539px;border-radius:20px 0 0 20px}
.singale_shade .teach_shaddow{padding:20px}
.singale_shade .teach_shaddow .teacher_content{padding:0}
.singale_shade .teach_shaddow .col-12 h2{font-size:45px;color:#131752;font-weight:500;margin:0;margin-bottom:30px}
.side_bar .teacher-teach-hedding h2{color:#131752;margin:0 0 30px;position:relative;padding-bottom:23px;text-transform:capitalize;font-weight:500}
.blog_textContent{position:relative}
.blog_textContent .blog_head{width:100%;height:100%;background-position:center;background-repeat:no-repeat;background-size:cover;position:relative;color:#fff;z-index:1;padding:100px 40px;min-height:460px}
.blog_textContent .blog_head:after{content:'';width:100%;height:100%;position:absolute;left:0;right:0;margin:auto;background:rgba(0,0,0,0.6);z-index:-1;top:0}
.blog_textContent .blog_head h3{font-weight:500;margin:0;font-size:35px;text-transform:uppercase;position:relative;margin-bottom:45px;padding-bottom:25px}
.blog_textContent .blog_head h3:after{content:'';background:rgba(255,255,255,0.5);width:180px;height:3px;position:absolute;left:0;bottom:0;margin:auto}

.blog_textContent .blog_head p{margin:0;font-size:20px;line-height:25px;color:#fff}
.blog_textContent .specialities_box{background:transparent!important;padding:0;margin:0}
.all_resource{position:absolute;z-index:9;left:0;right:0;bottom:70px}
.team-box .team-member-content h3{font-size:20px;font-weight:500;color:#131752;text-transform:uppercase;margin:0}
.team-box .team-member-content span{font-size:14px;color:#6da24a;text-transform:capitalize;font-weight:400;padding:22px 0;display:block}
.team-box .team-member-content p{font-size:16px;color:#9495ae;line-height:35px;margin-bottom:25px}
.team-box .team-member-content p a{font-weight:700;text-decoration:underline}
.order-right{order:2}
.team-box{box-shadow:0 1px 8px rgba(0,0,0,0.1);margin-bottom:50px;border-radius:20px;overflow:hidden}
.team-box .col-lg-4.col-12{padding:0}
.team-box .section-team-image img{width:100%}
.team-box .team-member-content{padding:20px}
.news_textContent .blog_head.new_head h3:after{display:none}
.news_textContent .blog_head{padding:32px 40px}
.news_textContent .blog_head:after{display:none}
.news_textContent .blog_head h3{color:#131752;text-transform:capitalize}
.news_textContent .blog_head h3:after{background:#65d32e}
.news_textContent .blog_head p{color:#bbbec0;line-height:50px;padding-top:20px}
.news_textContent .row.center-align{display:flex;align-items:center;border-bottom:2px solid #d0d3d5;justify-content:center}
.news_textContent .blog_head .left_name{float:left;color:#86898a}
.news_textContent .blog_head .right_date{float:right;color:#86898a}
.news_textContent .blog_head.new_head h3{font-weight:500;margin:0;font-size:45px;text-transform:capitalize;position:relative;padding-bottom:30px}
.news_textContent .blog_head.new_head p{margin:0;font-size:24px;line-height:40px}
.news_textContent .blog_read_more{float:none}
.news-section .teach_shaddow{padding:15px;margin-bottom:25px;box-shadow:4px 0 10px rgba(0,0,0,0.1);display:inline-block;width:100%}
.news-section .teacher-images{float:left}
.team-section ul.news-section{width:100%}
.news-section .blog_read_more{margin:0}
.news-section .news-content a.pad-bor{font-size:25px;font-weight:500;margin:0;padding-bottom:15px}
.news-content{float:left;width:calc(100% - 325px);padding-left:30px}
.news-section .news-content p{max-width:755px;color:#bbbec0;line-height:35px;font-size:16px}
.news-section .name-text{display:inline-block;width:100%}
section.team-section.news-section{padding:80px 0}
.news-details-content h3{margin:40px 0;font-size:28px;font-weight:500;color:#131752}
.news-details-content span{font-size:20px;color:#bbbec0;font-weight:500;line-height:normal;display:block}
.news-details-content p{color:#bbbec0;line-height:35px;font-size:16px;padding-top:40px;margin:0}
.news-details-images{margin-bottom:50px}
.news_details_list p{padding:0;margin-bottom:20px}
.news_details_list a{color:#65d32e;display:inline-block}
.blog-section.news_details_list ul.blog-history li:nth-child(2){flex:0 0 66.666666%;max-width:66.666666%}
.blog-section.news_details_list ul.blog-history li:nth-child(2) .teacher_images{float:left;margin:0;height:auto;border:0;width:408px;border:0;padding:0}
.blog-section.news_details_list ul.blog-history li:nth-child(2) .teacher_content{display:inline-block;padding:20px 40px;max-width:560px}
.blog-section.news_details_list ul.blog-history li:nth-child(2) .teacher_content h4 a{border:0;padding-top:0;margin-top:0}
.blog-section.news_details_list ul.blog-history li:nth-child(2) .teacher_images img{-o-object-fit:contain;object-fit:cover;-o-object-position:center;object-position:center;border-radius:20px 0 0 20px;height:100%}
.blog-section.news_details_list .teach_shaddow .teacher_images img{width:100%}
.blog-section.news_details_list .teach_shaddow .teacher_images a{width:100%}
.blog-section.news_details_list .teach_shaddow h4 a{border:0;padding-top:0;margin-top:10px}
.about_left_images{position:absolute;width:46%;left:0;top:0;bottom:0;height:100%;background-size:100%;position:absolute;width:43%;left:0;top:0;bottom:0;height:100%;background-size:100%}
.about_left_images.right{position:absolute;width:43%;right:0;top:0;left:auto!important;bottom:0;height:100%}
.about-chinese-tree{width:100%;position:relative}
.about-chinese-tree .chinese-about-content p{font-size:16px;color:#9495ae;line-height:40px;margin-bottom:30px}
.about-chinese-tree .chinese-about-content h2{font-size:40px;color:#131752;position:relative;padding-bottom:20px;margin-bottom:30px}
.about-chinese-tree .chinese-about-content h2:after{content:'';background:#65d32e;opacity:.5;width:180px;height:3px;position:absolute;left:0;bottom:0;margin:auto}
.about-chinese-tree.section1{min-height:740px;margin-bottom:70px}
.about-chinese-tree.section2{min-height:700px;margin-bottom:70px}
.about-chinese-tree.section3{min-height:585px}
.about-chinese-tree .chinese-about-content ul{margin-top:30px}
.about-chinese-tree .chinese-about-content ul li{font-size:16px;color:#9495ae;padding-bottom:10px}
.about-chinese-tree .chinese-about-content span a:hover{opacity:.8}
.about-chinese-tree .chinese-about-content span a{display:inline-block;margin-right:15px;background:#39b54a;line-height:50px;padding:0 34px;color:#fff;text-transform:uppercase;font-size:18px;border-radius:25px}
.team_textContent .blog_head{min-width:340px;min-height:600px;padding:130px 55px}
.team_textContent .blog_head:nth-child(4){min-width:543px}
.team_textContent .blog_head p{margin:0;font-size:20px;line-height:50px}
.team_textContent .blog_head h3{font-size:30px;margin-bottom:15px;padding-bottom:20px}
#help_center .help-search{position:relative}
#help_center .help-search input{border-radius:5px;border:1px solid #d1d1d1;min-height:44px}
#help_center .help-search button{position:absolute;bottom:0;right:0;height:44px;padding:0 12px;background:#52ba16;border:0;border-radius:0 5px 5px 0;color:#fff}
#help_center .browse-section{float:left;width:33.33%;border-right:1px solid #d0d3d5;padding:15px}
#help_center .browse-section:last-child{border-right:0}
#help_center .browse-topic{border:2px solid #d0d3d5;border-radius:10px;display:inline-block;width:100%}
#help_center .browse-section h4{color:#409ebb;margin:0;border-bottom:1px solid #d0d3d5;padding-bottom:10px;margin-bottom:10px;font-size:18px;font-weight:500}
#help_center .browse-section ul li{color:#a9afb2;font-size:16px;font-weight:500;padding:2px 0}
#help_center .browse-section ul li strong{color:#52ba16;margin:0;font-size:18px;font-weight:500}
#help_center .browse-section ul li strong a{background:#52ba16;padding:0 10px;display:inline-block;float:right;color:#fff;border-radius:30px;font-size:8px;text-transform:uppercase}
.topic-hedding{color:#6f7274;font-size:25px;font-weight:500;margin:30px 0 15px}
#help_center .asked-questions h2:after{content:'';background:#65d32e;opacity:.5;width:180px;height:3px;position:absolute;left:0;bottom:0;margin:auto}
#help_center .asked-questions h2{font-size:40px;color:#131752;margin:0 0 50px;position:relative;padding-bottom:23px;text-transform:capitalize}
#help_center .asked-questions{margin-top:50px}
.accordion{position:relative;width:100%}
.accordion-questions{border:2px solid #d0d3d5;margin-bottom:20px;border-radius:10px}
[id*="open-accordion"],[id*="close-accordion"]{background:#ededed;line-height:60px;padding:0 20px;display:block;margin:0 auto;position:relative;width:100%;border-radius:10px}
[id*="close-accordion"]{display:none}
.accordion a{font-size:18px;font-weight:600;color:#6f7274}
[id*="open-accordion"]:after,[id*="close-accordion"]:after{content:'\F107';font-family:FontAwesome;position:absolute;top:0;right:20px;transform:rotate(-90deg);-webkit-transform:rotate(0deg);font-size:26px}
.target-fix{display:block;top:0;left:0;position:fixed}
.accordion-content{height:0;margin:-1px auto 0;position:relative;overflow:hidden;width:100%;transition:all .2s ease;-webkit-transition:all .2s ease;-moz-transition:all .2s ease}
.accordion span:target ~ .accordion-content{display:block;height:auto;padding:20px}
.accordion span:target ~ .accordion-content p{margin:0;line-height:30px}
.accordion span:target ~ [id*="close-accordion"]{display:block}
.accordion span:target ~ [id*="open-accordion"]{display:none}
.accordion span:target ~ [id*="close-accordion"]:after{transform:rotate(180deg);-webkit-transform:rotate(180deg)}
.enquiry-help{border:2px solid #d0d3d5;padding:40px;border-radius:10px;background:#fff;width:100%;margin-bottom:40px}
form.account_reset_pass{width:450px;margin:0 auto;text-align:left}
.form-control{border:2px solid rgba(162,168,172,0.45);border-radius:40px;font-size:14px;color:#a2a8ac;height:40px;font-weight:300}
.enquiry-help .account_reset_pass .form-control:focus{border-color:#32e14a;box-shadow:none}
.schooling_institution input[type=radio],input[type="checkbox"]{height:20px!important;width:20px;position:relative;margin-right:8px;padding:0!important}
.schooling_institution input[type=radio]:checked{border-color:transparent}
.schooling_institution input[type=radio]:checked:before{content:"";text-indent:-9999px;font-size:24px;height:30px;width:30px;background:url(../img/radio_check.png) no-repeat;margin:0;position:absolute;left:-2px;top:-2px;border:0}
.classroo_family.schooling_institution label{display:inline-block;margin:0 30px;padding:0}
.classroo_family.schooling_institution input[type=radio]{height:30px!important;width:30px;position:relative;margin-right:8px;padding:0!important}
.returning_customer span{position:relative;display:inline-block}
.returning_customer input[type="radio"]{opacity:0;position:absolute;z-index:99999;height:100%!important;width:100%;display:block;clear:both;border-radius:0;margin:0;border:0}
.returning_customer input[type="radio"]+label{cursor:pointer;text-shadow:1px 1px 0 rgba(0,0,0,0);float:right}
.returning_customer input[type="radio"]:checked+label{box-shadow:0 2px 8px rgba(0,0,0,0.5)}
.account_reset_pass .col-md-12 h3{font-size:25px;margin:0;text-transform:uppercase;font-weight:600;color:#089ddf;margin-bottom:30px}
form.account_reset_pass{width:450px;margin:0 auto;text-align:left}
.welcom_box .section_head p a{color:#34b8f5}
.assessment-hedding h2{font-size:25px;font-weight:600;color:#6f7274;text-transform:uppercase;letter-spacing:1px;margin:55px 0}
.self-assessment-popup a{font-size:20px;font-weight:500;color:#bbbec0;margin-top:35px;display:block}
.know-us ul li{display:inline-block;padding-right:26px}
.know-us ul li:last-child{padding-right:0}
.know-us{padding:15px 0 0}
.know-us ul li input{border-radius:4px!important}
.submit-btns.row{margin-top:30px}
.enquiry-help .account_reset_pass input{height:60px;border-radius:40px}
.enquiry-help .account_reset_pass textarea{padding:15px}
.start_level{background:#32e14a;border-radius:40px;padding:0 63px;height:60px;font-weight:500;font-size:18px;text-transform:uppercase;margin-top:30px;border:1px solid #32e14a;color:#fff}
.accordion_content{padding-top:50px;border-top:1px solid #bfbfbf;margin-top:50px}
.schooling_institution #subscribe{height:30px!important;width:30px}
#help_center .enquiry-help h3{font-size:25px;color:#2696b6;font-weight:600;text-transform:uppercase;margin-bottom:30px}
.embed-responsive.embed-responsive-16by9.main-video{border-radius:10px}
#help_center .contact-text h2{font-size:40px;color:#131752;position:relative;padding-bottom:25px;text-transform:capitalize;font-weight:500;margin-bottom:15px}
#help_center .contact-text h2:after{content:'';background:#65d32e;opacity:.5;width:180px;height:3px;position:absolute;left:0;right:0;bottom:0;margin:auto}
#help_center .contact-text{width:100%;text-align:center;margin:50px 0}
.contact-banner img{margin-left:-15px}
#help_center .contact-text p{line-height:40px;max-width:1050px;margin:0 auto}
.contact-banner p{color:#bbbec0;font-size:20px;line-height:50px}
.contact-banner h2{font-size:40px;color:#131752;position:relative;padding-bottom:25px;text-transform:capitalize;font-weight:500;margin-bottom:45px}
.contact-banner h2:after{content:'';background:#65d32e;opacity:.5;width:180px;height:3px;position:absolute;left:0;bottom:0;margin:auto}
.row.center-align.border-down{display:flex;-webkit-flex-align:center;align-items:center;border-bottom:2px solid #d0d3d5;margin-bottom:100px}
.my-account-pages .welcome-david-hedding h4{color:#000;font-size:25px;font-weight:500;display:inline-block;padding-right:100px;margin:0}
.my-account-pages .welcome-david-hedding{padding:40px 0}
.my-account-pages .welcome-david-hedding h4:last-child{padding-right:0}
.my-account-pages .page-tabs-links .nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#fff;background-color:#54dae6}
.my-account-pages .page-tabs-links .nav-pills li a{font-size:20px;font-weight:500;text-transform:uppercase;line-height:60px;padding:0 26px;border-radius:15px 15px 0 0;background:#dbdbdb;margin-right:10px;color:#1a1a1a}
.page-tabs-links ul{border-bottom:5px solid #54dae6}
.user-page-link ul li a{font-size:17px;color:#000;text-transform:capitalize;padding:0 15px;border-radius:20px!important;border:1px solid #fff;line-height:40px;display:inline-block;font-weight:500}
.user-page-link ul li{display:inline-block;padding:0 15px;position:relative}
.user-page-link .nav-pills .nav-link.active,.nav-pills .show > .nav-link{background-color:transparent;color:#54dae6;border-color:#54dae6;border-radius:20px}
.user-page-link ul li a{border-radius:20px}
.user-page-link ul li a:hover{color:#00c9cd;border:1px solid #00c9cd}
.user-page-link ul li:first-child{padding-left:0}
.user-page-link ul li:after{position:absolute;content:"";height:18px;background:#000;width:2px;right:-2px;top:11px}
.user-page-link ul li:last-child:after{background:0}
.tab-pages{border:1px solid #d0d3d5;display:inline-block;width:100%;padding:30px 15px}
.user-page-link ul{padding-bottom:80px}
.main-tabs-page #pills-tabContent{width:100%}
.text-right.end-text{padding-top:60px}
.text-right.end-text h3{font-size:22px;font-weight:600;color:#929292;text-transform:uppercase;margin:0;padding-bottom:15px}
.text-right.end-text p{font-size:18px;color:#7c7c7c;font-weight:500;margin:0}
.text-right.end-text p a{color:#54dae6;text-decoration:underline}
.my-account-pages .table-striped{text-align:center}
.my-account-pages table.table.table-striped thead tr{background-color:#00c9cd}
.my-account-pages table.table.table-striped tr{background-color:#eaf7ff}
.my-account-pages table.table.table-striped td{border-top:1px solid #fff}
.my-account-pages .table-striped tbody tr:nth-of-type(odd){background-color:#f3faff}
.my-account-pages .table-striped th{vertical-align:top;border-top:1px solid #fff;color:#535759;font-weight:600;border-bottom:1px solid #fff}
.wizard-navigation .col-12.demo-screen-rg .part_images{width:350px;margin:50px auto}
.wizard-navigation .col-12.demo-screen-rg{text-align:center}
.wizard-navigation .col-12.demo-screen-rg h3{font-size:30px;font-weight:600;color:#000;margin-bottom:10px}
.row.question_option.description_text p{font-weight:700;margin-bottom:10px}
.center_ir a.reset_info{float:none;display:inline-block;width:auto;line-height:60px;padding:0 20px}
.question_answer .row.question_option.description_text.big_div label{font-weight:700;position:relative;left:-12px;padding-left:110px}
.question_answer .question_option .form-group>span input[type=radio]{position:absolute;left:0;top:5px}
.question_answer .question_option .form-group>span{display:block;margin-bottom:20px;position:relative;padding-left:40px}
.book_tree .new_head{height:320px}
.book_tree .container.all_resource{position:relative;z-index:9;left:0;right:0;bottom:50px}
.leveled-works .existing-teacher{position:relative;display:inline-block}
.leveled-works .existing-teacher input{min-width:450px;height:45px;border:1px solid #d0d3d5;border-radius:5px;padding:10px}
.leveled-works .existing-teacher button{position:absolute;bottom:2px;right:0;height:43px;padding:0 23px;background:#52ba16;border:0;border-radius:0 5px 5px 0;color:#fff;margin:0 auto;font-size:18px;top:1px}
.leveled-works .works-search a{float:right;font-size:17px;color:#6ad22e;font-weight:500;text-decoration:underline}
.leveled-reader ul li a{color:#6f7274;font-size:15px;font-weight:500;padding:10px;display:block}
.leveled-reader ul{background:#fcfeff}
.leveled-reader ul li a:hover{color:#2d3497}
.leveled-reader ul li{border-bottom:1px solid #d4d4d4;display:block}
.leveled-reader{border-right:1px solid #d4d4d4}
.leveled-works .tree_all_view .tree_view_li h3{font-size:17px;font-weight:500;margin:0;display:inline-block}
.leveled-works .tree_all_view .tree_view_li .hedding_bg{background:#52ba16;padding:12px;color:#fff;border-radius:5px 5px 0 0;margin-top:30px;width:100%}
.leveled-works .tree_all_view{border-top:1px solid #ddd;margin-top:20px;padding-top:20px}
.leveled-works .tree_all_view p{margin:0;font-size:18px;line-height:30px}
.leveled-works .tree_all_view h2{font-size:25px;margin:0;font-weight:500;color:#52ba16;padding-bottom:10px}
.tree_view_li ul{background:#f1f2fd;display:inline-block;width:100%;padding:15px;text-align:center}
.tree_view_li{margin-bottom:25px}
.tree_all_view li{display:inline-block;text-align:center;color:#919495;background:#fff;padding:10px;border-radius:7px;border:1px solid #d0d3d5;width:107px;margin-right:5px}
.tree_all_view li:last-child{margin-right:0}
.tree_all_view li img{margin:34px 0}
.tree_all_view li span{font-size:18px;font-weight:500;display:block}
.tree_all_view li b{font-size:30px;color:#6f7274;margin:10px 0 20px;display:block}
.tree_all_view li p{font-size:16px;font-weight:600;margin:0;text-transform:uppercase}
.tree_all_view li a{display:block;background:#52ba16;margin-top:10px;border-radius:30px;color:#fff;padding:1px 0;text-transform:uppercase;font-size:17px}
.tree_view_li.tree_filter_li li{background:transparent;width:24.2%;border:0;text-align:left;margin:0;padding:5px 0}
.tree_view_li.tree_filter_li li label{margin:0;color:#616161;cursor:pointer}
.tree_view_li.tree_filter_li li input{border-radius:0;border:1px solid #d1d1d1}
.tree_view_li.tree_filter_li ul{text-align:left}
.grid_and_list select{width:200px;display:inline-block;border:1px solid #909090;border-radius:5px;font-size:16px}
.grid_and_list label{color:#919495;margin:0;margin:0 10px}
.grid_and_list a{color:#52ba16;font-size:20px}
.privcy-policy-section{padding:70px 0}
.privcy-policy-section h4{font-size:26px;color:#666;margin:0;font-weight:600;padding-bottom:30px}
.privcy-policy-section h5{font-size:22px;color:#666;margin:0;padding-bottom:10px}
.privcy-policy-section p{font-size:16px;margin:0 0 20px;font-weight:500}
.privcy-policy-section ul.text-left li{font-size:15px;color:#666;margin-top:5px}
.privcy-policy-section ul.text-left li i{color:#39b54a;margin-right:10px}
.privcy-policy-section ul.text-left{padding-left:30px}
select.form-control.phonecode{width:80px;padding:10px 0 10px 15px}
.form-group.cuntry_codeno input{padding-left:90px}
.container.fb-login-button{display:inline-block;width:auto;padding:0}
.fb-login-button img{position:static;width:30px;padding:0;width:auto}
.fb-login-button button{padding:0!important;min-width:35px!important;border-radius:3px}
.form-group.cuntry_codeno input{padding-left:90px}
.card-body-header.forgot_password_section h3{font-size:30px;margin:0;font-weight:700;color:#52ba16;display:block}
.card-body-header.forgot_password_section p{margin:15px 0 30px;font-size:18px;line-height:26px}
.card-body-header.forgot_password_section{max-width:500px;margin:0 auto;text-align:center}
.card-body-header.forgot_password_section .form-control{margin:10px auto 20px;max-width:100%}
.card-body-header.forgot_password_section label{font-size:18px;font-weight:600;padding:0}
.card-body-header.forgot_password_section .forgot_password_btn{padding:13px 30px;background:#52ba16;border:0;border-radius:30px;color:#fff;font-size:18px;display:block;margin:10px auto}





.cookies_management {
    padding: 80px 0;
    display: inline-block;
    width: 100%;
}
.cookies_management .option_boxes{text-align: center;padding:25px;border: 1px solid #d8d8d8;border-radius:5px;background: #f6f6f6;}
.cookies_management .cooke_save a{
    background: #65d32e;
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
	margin-top:40px;
    letter-spacing: 1px;
}


.cookies_management .switch-btn-1{height:2rem;position:relative;outline:0;color:#fefefe;user-select:none;display:inline-block}
.cookies_management .switch-btn-1 .switch-input{position:absolute;margin-bottom:0;opacity:0}
.cookies_management .switch-btn-1 .switch-paddle{position:relative;display:block;width:4rem;height:2rem;border-radius:1rem;background:#cacaca;transition:all .25s ease-out;font-weight:inherit;color:inherit;cursor:pointer}
.cookies_management .switch-btn-1 .switch-paddle::after{position:absolute;top:.25rem;left:.25rem;display:block;width:1.5rem;height:1.5rem;transform:translate3d(0,0,0);border-radius:1rem;background:#fefefe;box-shadow:0 2px 2px rgba(0,0,0,0.13);transition:left 250ms cubic-bezier(0.34,1.61,0.7,1),transform 250ms cubic-bezier(0.34,1.61,0.7,1);content:""}
.cookies_management .switch-btn-1 .switch-text{display:block;width:100%}
.cookies_management .switch-btn-1 .switch-text::after{content:attr(data-text);display:block;position:absolute;top:.5rem;right:-2.5rem;color:#333}
.cookies_management .switch-btn-1 input:checked ~ .switch-paddle{background:#1779ba}
.cookies_management .switch-btn-1 input:checked ~ .switch-paddle::after{left:2.25rem}
.cookies_management .switch-btn-2{display:inline-block}
.cookies_management .switch-btn-2 label{position:relative;border-radius:15px;width:76px;height:30px;background-color:#999;cursor:pointer}
.cookies_management .switch-btn-2 label::after{display:inline-block;line-height:30px;color:#fff;font-family:"Raleway";font-weight:500;font-size:12px}
.cookies_management .switch-btn-2 label .btn-icon{position:absolute;top:2px;left:2px;bottom:2px;transition:left .2s;box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);border-radius:50%;width:26px;height:26px;background-image:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),linear-gradient(to bottom,#fff,#e7e9f3 86%,#d8dbe7)}
.cookies_management .switch-btn-2 input[type="checkbox"]{display:none}
.cookies_management .switch-btn-2 input[type="checkbox"]:checked + label{background-color:#65d32e}
.cookies_management .switch-btn-2 input[type="checkbox"]:checked + label .btn-icon{left:48px}
.cookies_management .switch-btn-2.off label::after{content:"OFF";padding-left:40px;padding-right:13px}
.cookies_management .switch-btn-2.off input[type="checkbox"]:checked + label::after{content:"ON";padding-right:30px;padding-left:13px}
.cookies_management .switch-btn-3 label input{position:absolute;opacity:0;visibility:hidden}
.cookies_management .switch-btn-3 label i.bui-radios{display:inline-block;position:relative;width:13px;height:13px;background:#FFF;border:1px solid #979797;border-radius:50%;vertical-align:-2px}
.cookies_management .switch-btn-3 label input:checked + .bui-radios:after{position:absolute;content:"";width:7px;height:7px;background-color:#fff;border-radius:50%;top:3px;left:3px}
.cookies_management .switch-btn-3 label input:checked + .bui-radios{background:#00B066;border:1px solid #00B066}
.cookies_management .switch-btn-3 label input:disabled + .bui-radios{background-color:#e8e8e8;border:solid 1px #979797}
.cookies_management .switch-btn-3 label input:disabled:checked + .bui-radios:after{background-color:#c1c1c1}
.cookies_management .switch-btn-3 label .bui-radios{-webkit-transition:background-color ease-out .3s;transition:background-color ease-out .3s}



.welcom_box {
    border: 2px solid #d0d3d5;
    padding:50px;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}
.sample_head h2 {
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #089ddf;
    margin-bottom: 40px;
}
.welcom_box .form-group label {
    font-size: 18px;
    color: #a2a8ac;
    font-weight: 500;
    letter-spacing: .5px;
}
.welcom_box .form-control {
    max-width: 400px;
    height: 60px;
    padding: 15px;
}
.age_small_input {
    display: inline-block;
    vertical-align: top;
}
.age_small_input .form-control {
    width:184px;
    margin-right: 20px;
    display: inline-block;
}
.age_small_input label{ display:block}